In [1]:
import pandas as pd 
import numpy as np

In [3]:
df1 = pd.read_csv(r"C:\Users\ajjup\OneDrive\Desktop\DATASETS\Linear Regression\houseprice.csv")

In [5]:
df1

   area   price
0  2000  500000
1  2600  530000
2  2800  550000
3  3000  565000
4  3200  610000
5  3400  650000
6  3600  680000
7  3800  700000
8  4000  725000

In [6]:
df1.columns

Index(['area', 'price'], dtype='object')

In [7]:
df1

   area   price
0  2000  500000
1  2600  530000
2  2800  550000
3  3000  565000
4  3200  610000
5  3400  650000
6  3600  680000
7  3800  700000
8  4000  725000

In [8]:
df1['area']

0    2000
1    2600
2    2800
3    3000
4    3200
5    3400
6    3600
7    3800
8    4000
Name: area, dtype: int64

In [9]:
df1['area']

0    2000
1    2600
2    2800
3    3000
4    3200
5    3400
6    3600
7    3800
8    4000
Name: area, dtype: int64

In [16]:
X =  df1[["area"]]

In [17]:
X

   area
0  2000
1  2600
2  2800
3  3000
4  3200
5  3400
6  3600
7  3800
8  4000

In [13]:
y = df1["price"]

In [14]:
y

0    500000
1    530000
2    550000
3    565000
4    610000
5    650000
6    680000
7    700000
8    725000
Name: price, dtype: int64

In [18]:
type(X)

pandas.core.frame.DataFrame

In [19]:
type(y)

pandas.core.series.Series

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y, test_size=0.20)

In [22]:
Xtrain.shape, Xtest.shape, X.shape

((7, 1), (2, 1), (9, 1))

In [23]:
ytrain.shape, ytest.shape, y.shape

((7,), (2,), (9,))

## Model  Building

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
lreg = LinearRegression()

In [26]:
lreg

LinearRegression()

In [27]:
lreg.fit(Xtrain, ytrain)

LinearRegression()

In [28]:
lreg.coef_

array([121.07142857])

In [29]:
lreg.intercept_

231142.85714285716

In [33]:
lreg.score(Xtest,ytest)

0.9575325963718825

In [34]:
df1

   area   price
0  2000  500000
1  2600  530000
2  2800  550000
3  3000  565000
4  3200  610000
5  3400  650000
6  3600  680000
7  3800  700000
8  4000  725000

In [35]:
lreg

LinearRegression()

In [38]:
import warnings

In [39]:
warnings.filterwarnings('ignore')

In [40]:
lreg.predict([[2300]])

array([509607.14285714])

In [41]:
val = [2200,2900,3300,3700,4500]

In [45]:
import time

In [47]:
for i in val :
    print(i , end = ' == ')
    print(  lreg.predict([[i]]) )
    print()
    time.sleep(2)

2200 == [497500.]

2900 == [582250.]

3300 == [630678.57142857]

3700 == [679107.14285714]

4500 == [775964.28571429]